div{
  border-top:1px solid black ;
  border-left:2px solid gray ;
  border-left:3px solid goldenrod;
  
}
 .first-p{
  border:2px solid grey;

 } 


.fruit-shop{
  border:3px solid blueviolet;
  background-color:#000;
} 




