

body{
  background-color: rgb(17, 15, 16);
}
*{
  margin: 0%;
}
.google{
  width: 500px;
  margin: 1 auto;
  text-align: center;
  padding: 75px;
  

}
 
.white-bgc{
  background-color: aliceblue;
  border-radius: 20px;
  padding: 30px;
  margin-top: 5px;

}
img{
  width: 200px;
  

}