

body{
  background-color: black;
}
*{
  margin: 0%;
}
.google{
  width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 100px;

}
 
.white-bgc{
  background-color: aliceblue;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;

}
img{
  width: 150px;
}