.wrapper {
  width: 200px;
  margin: 0 auto;
  font-size: 36px;
  
}
.header{
  height: 100px;
  width: 700px;
  background-color: aquamarine;
}
.left-box{
  width: 200px;
  height: 1000px;
  
  float: left;
  background-color: cornflowerblue;
}
/* left-box 옆으로 붙으라는 의미에서 float:left를
   사용해도 되고, 남은 공간 오른쪽으로 가라는 의미를
   float:right를 사용해도 됨*/

.right-box{
  width: 700px;
  height: 1000px;
  background-color: coral;
  float: top left ;
}
.footer{
  background-color: lightseagreen;
  clear: both;
  height: 200px;
  width: 700px; }

