.wrapper{
  width: 90%;
  margin: 0 auto;
  font-size: 35px;
  display: flex;
  flex-wrap: wrap;
}

  

.header{
  width: 100%;
  height: 100px;
  background-color: darkgoldenrod;
}
.left-box{
  width: 20%;
  height: 500px;
  order: 2;
  
  background-color: aqua;
}
.right-box{
  width: 80%;
  order: 1;
  height: 500px;
  background-color: blue;
}
.footer{
  width: 100%;
  height: 100px;
  order: 3;
  background-color: coral;
}
/*부모요소가 차지하고 있는 witdh값의 100%/*