/*.wrapper{
  width: 1200px;
  margin: 0 auto;
  font-size: 36px;
 
}
.header{
 
  height: 100px;
  background-color: aqua;
}
.left-box{
  width: 200px;
  height: 500px;
  background-color: rgb(150, 24, 87);
  float: left;
}
.right-box{
  width: 1000px;
  height: 500px;
  float: left;
  background-color: darkslateblue;
  
}
.footer{
  clear: both;
  height: 200px;
  background-color: brown;
}*/
.wrapper{
  width: 1200px;
  margin: 0 auto;
  font-size:25px;
  
}
.header{
  width: 1000px;
  background-color: darkgoldenrod;
  

}
.left-box{
  height: 500px;
  width: 90px;
  background-color: cadetblue;
  float:left;
}
.right-box{
  width: 1000px;
  height: 500px;
  background-color: crimson;
}
.footer{
  width: 200px;
  clear: both;
  background-color: darkblue; 
 
}