.box div{
  width: 100px;
  height: 100px;
  border: 3px solid blueviolet;
}
.left-float div{
  float: left;
}
.border{ 
  width: 200px;
  height: 200px; 
   border: 2px solid violet;
  
}
.clear {
  clear: both;
}
.Inline {
  display: inline-block;}
  /*block,inline-block,inline 세가지 차이점에 대해서 잘 정리해두기(수직정렬)
  1.block:가로 100%차지,width,height지정 가능
  2.inline-block:inline처럼 본인이 가진 콘텐츠크기 만큼만 가로사이즈를 차지(width,height지정가능)
  3.inline:본인이 가진 콘텐츠 크기만큼만 가로사이즈를 차지,(widtg,height지정 불가능)*/
  .left-inline div{
    display: inline-block;
  }
.left-flex div{
  display: flex;
  width: 100px;
  height: 100px;
  border: 2px solid blue;
}
.right-float div{
  float: right;
}
.right-float div div{
  float: left;
}
.right-inline{
  display: inline-block;
}
.right-inline div{
  display: inline-flexbox;
}
/*text-align:문단을 수평으로 정렬하는 속성*/
/*block요소 안에 있는 inline요소를 정렬한다.*/
/*text를 정렬할 때는 자기 자신에게 적용가능*/
/*inline요소라면 text뿐 아니라 이미지도 정렬가능*/

.right-flex div{
  float: left;
  display: flex;
  justify-content: flex-end;
}
.center_float div{
  width: 300px;
  margin: 0, auto;
}
.center_float div { float: left;
  
box-sizing: border-box;
}
.center-inline div{
  display: inline-block;
  text-align: left;
}
.center-inline{
  text-align: center;
}
.flex{
  display: flex;
  justify-content:flex-start;
  flex-direction: row;
  align-items:center;
  height: 700px;
  border: 2px solid #000;
}
.flex div{
  font-size: 24px;
  font-weight: bold;
}
.first{
  order: 1;
}
.second{
order:1;
}
.third{
order: -1;
}