img{
  background-color: aliceblue;
}
.box{
  width: 300px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin: 20 auto;
}
.google{
 
 font-weight: bold;
}
.naver{
  border: 2px solid rgb(51, 17, 95);
}

